.td-buttons form {
    display: inline-block;
}

img {
    object-fit: cover;
}

h3 {
    text-align: center;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card-deck .card {
    margin: 25px 25px;
}

.card-deck .card img {
    object-fit: cover;
}

.card-deck .card .card-body .form-buttons form {
    display: inline-block;
}